html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

body {
  background: rgb(181, 179, 179);
  background: linear-gradient(to right, rgb(181, 179, 179), rgb(181, 179, 179));
}
